.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  opacity: 1 !important;
  position: relative;
  transition: opacity 0.5s;
  color: white;
  &__main {
    min-height: 100vh;

    @at-root .app--private & {
      padding: (0 + 0) 0 ($footer-height + $grid-gutter-width);
      background-color: rgb(205, 205, 231);
      background-image: url($media-path+ '/images/background_space.png')
    }
  }

  &__container {
    @include app-container();
  }

  &__route {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
  }

  &__logout {
    span {
      margin-right: $grid-gutter-width / 6;
    }
  }
}
