.leaflet-container {
  width: 95% !important;
  height: 350px !important;
  margin: 0 auto !important;
  position: absolute !important;
  text-align: 'center' !important;
}

@media screen and (max-width: 415px) {
  .leaflet-container {
    width: 90% !important;
    height: 300px !important;
    margin: 0 auto !important;
    position: absolute !important;
  }
}

a.leaflet-bar-part {
  display: none !important;
}

div.leaflet-control-geosearch form {
  height: 30px !important;
  font-size: 20px !important;
  position: absolute !important;
  z-index: 9999 !important;
  left: 40px !important;

  a.reset {
    color: black !important;
    font-weight: bold !important;
  }

  div.results {
    position: absolute;
    color: black !important;
    font-weight: bold !important;
    cursor: pointer !important;
  }
}

@media screen and (max-width: 415px) {
  div.leaflet-control-geosearch form {
    font-size: 14px !important;
    max-width: 100% !important;
  }
}

div.results-active {
  position: absolute !important;
  z-index: 9999 !important;
  margin-left: 60px !important;
  background-color: white !important;
  color: black !important;
}

// #85 - Workaround only working in Chrome
img.leaflet-marker-icon {
  content: url($media-path + 'maps/marker-icon.png') !important;
  source: url($media-path + 'maps/marker-icon.png') !important;
  src: url($media-path + 'maps/marker-icon.png') !important;
}

// #85 - Workaround working for Firefox
img.leaflet-marker-icon::after {
  content: url($media-path + 'maps/marker-icon.png') !important;
}
